<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JBX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CD67A2B1FD14DCB0003D5DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CD67A431FD14DCB0003D5DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CD67A4E1FD14DCB0003D5DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
